/* בסיס עמוד */

body {
    font-family: DanaYadAlefAlefAlef-Normal, sans-serif;
    text-align: center;
    background-color: #0f0f0f;
    background-image: radial-gradient(rgba(255,255,255,0.06) 1px, transparent 1px);
    background-size: 18px 18px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-top: 40px;
    font-size: 32px;
}

.intro {
    width: 70%;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 40px;
}

/* קונטיינר של כפתורי מצבים */

.moods-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 40px 30px; /* שורות x עמודות */
    margin: 60px auto 0;
    max-width: 900px;
}

/* כפתור מצב אחד */

.mood {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emoji-box {
    background-color: rgb(245, 180, 1);
    padding: 10px 18px;
    border-radius: 30px;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.label {
    margin-top: 8px;
    font-size: 25px;
    text-align: center;
}

/* פופ-אפ */

.popup-toggle {
    display: none;
}

.popup {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-toggle:checked + .popup {
    display: flex;
    backdrop-filter: blur(5px);
    background-color: rgba(0,0,0,0.45);
}

.popup-box {
    position: relative;
    background: transparent;
    padding: 24px;
    border-radius: 18px;
    text-align: center;
    max-height: 90vh;
    overflow-y: auto;
    backdrop-filter: blur(6px);
    z-index: 9999;
    animation: popupIn 0.2s ease-out;
}

.popup-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 9999;
}

.popup-img {
    width: 380px;
    margin: 0 auto;
    display: block;
}

.popup-close {
    position: absolute;
    right: 12px;
    top: 10px;
    cursor: pointer;
    font-size: 20px;
    z-index: 10000;
}

@keyframes popupIn {
    from { transform: scale(0.6); opacity: 0; }
    to   { transform: scale(1); opacity: 1; }
}

/* תיבת טקסט בתוך הפופ-אפ */

.popup-text-box {
    background: #fbac0229;
    color: #ffffff;
    padding: 18px;
    border-radius: 18px;
    text-align: right;
    font-size: 16px;
    line-height: 1.6;
    margin-top: 12px;
    width: 420px;
    margin-left: auto;
    margin-right: auto;
}

.popup-text-box p {
    margin: 0;
}

/* פוטר */

.footer {
    margin-top: auto; /* דוחף את הפוטר לתחתית הדף */
    padding: 22px 0;
    text-align: center;
    font-size: 13.5px;
    color: #cfcfcf;
    opacity: 0.8;
    line-height: 2.0;
    border-top: 1px solid rgb(255, 255, 255);
}
